{% extends 'basic.html'%}

{% block content %}
{%load gravatar %}
<div class="span8">
  <div class="7photos row">
    <h5>最近上传</h5>
    <div class="7photo-boxs">
      {% for photo in photos %}
      <div class="span2 7photo-box" style="margin-bottom:7px;background: #F2F0F0;">
        <div class="7photo-image img-polaroid" style="border:1px solid #DDD">
          <a href="/albums/photos/{{ photo.id }}">
          <img src="{{ MEDIA_URL}}{{photo.thumb128}}" /></a>
        </div>
        <div class="7photo-desc" style="padding:5px 4px 0px;border:1px solid #DDD" >
          <p><small>{{photo.desc}}</small></p>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>

  <div  class="7albums row">   
    <h5>
      {% if OTHER %}
      {% firstof people.first_name people.username %}
      {% else %}
      我
      {% endif %}
      的相册(<a href="{% url 7albums people.username%}"><small>{{albums.count}}个</small></a>)
    </h5>
    <div class="album">
      <ul class="unstyled">
        {% for album in albums %}
        <li">
        <div class="7album span2">
          <a href="{% url 7single_album  album.id %}">
            {% if album.cover %}
            <img src="{{MEDIA_URL}}{{ album.cover }}" class="img-polaroid"/>
            {% else %}
            <img src="{{STATIC_URL}}100x100.gif" class="img-polaroid"/>  
            {% endif %}
            <br/>
            {{ album.name }}
            <br />
          </a>
          <p class="muted"><small>{{album.photo_num}}张照片<br />{{ album.update_date|date:'Y-m-d'}} 更新</small></p>           
        </div>
      </li>
      {% endfor %}
    </ul>
  </div>
</div>
</div>

<div class="span3 pull-right">
  <div id="person" class="span3 pull-right">
    <img src="{% gravatar_url people.email 64 %}">{{ people.username }}<br/>
    {% if user.is_authenticated %}
    {% if neighbour and neighbour_off %}
    <a href="{% url accounts_eyeon people.username %}">关注此人</a>
    {% elif neighbour %}
    已关注
    {% endif %}
    {% endif %}
  </div>

  <div id="circle" class="span3 pull-right">
    <div class="7eyeon row">
      <div class="span3 pull-right">
        <h5>左邻({{ left_friends.count|default:0 }})</h5>
        <ul class="unstyled">
          {% for lf in left_friends %}
          <li>
            <div class="span1 7minigravatar">
              <a href="{% url 7people lf.friend.username %}">
                <img src="{% gravatar_url lf.friend.email %}" /><br />
              {% firstof lf.friend.first_name lf.friend.username %}</a>
            </div>
          </li>
        {% endfor %}
        </ul>
      </div>
    </div>
    
    <div class="7oneye row">
      <div class="span3 pull-right">
        <h5>右舍({{ right_friends.count|default:0 }})</h5>
        <ul class="unstyled">
          {% for rf in right_friends %}
          <li> 
            <div class="span1 7minigravatar">
              <img src="{% gravatar_url rf.friend.email %}" /><br />
              <a href="{% url 7people rf.friend.username %}">
              {% firstof rf.friend.first_name rf.friend.username %}</a>
            </div>
          </li>
          {% endfor %}
        </ul>
      </div><!-- end oneye-->
    </div>
  </div><!-- end circle-->

  <div id="activity" class="span3 pull-right">
    <div class="row">
      <div class="span3 pull-right">
    <h5>
     {% if OTHER %}
      {% firstof people.first_name people.username %}
      {% else %}
      我{% endif %}的活动(<small><a href="{% url 7activities %}">全部</small></a>)</h5>
    </div>
    </div>
  </div>
</div><!-- end span3 left-->



{% endblock content%}
