{% extends 'basic.html'%}

{% block content %}
<div class="row">
  <div class="span6">
    <div  class="span6 albums">   
      <h4>我的相册</h4>
      <div class="album">
        <ul class="unstyled">
          {% for album in albums %}
          <li style="display:inline">
            <div class="7album span2">
            <a href="/albums/{{ user.username }}/{{ album.id }}">
            {% if album.cover %}
            <img src="{{ album.cover }}" />
            {% else %}
            <img src="http://placehold.it/100x100" />  
            {% endif %}
            <br/>
            {{ album.name }}
            <br />
            </a>
            <small>{{ album.update_date|date:'m/d/Y'}} 更新</small>
            </div>
          </li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>

  <div class="span3 pull-right">
    <div id="person" class="span4 pull-right">
      <p>You</p>
      <img src="http://placehold.it/100x100">{{ people.username }}
      {% if neighbour and neighbour_off %}
        <a href="{% url accounts_eyeon people.username %}">关注此人</a>
      {% elif neighbour %}
        已关注
      {% endif %}
    </div>
  <div>
  <div id="circle" class="span4 pull-right">
    <h4>Circle</h4>
    <div class="7eyeon">
      <h5>左邻({{ left_friends.count|default:0 }})</h5>
      <ul class="unstyled">
        {% for lf in left_friends %}
          <li><a href="{% url 7people lf.friend.username %}">
            {% firstof lf.friend.first_name lf.friend.username %}</a>
          </li>
        {% endfor %}
      </ul>
    </div>
    <div class="7oneye">
      <h5>右舍({{ right_friends.count|default:0 }})</h5>
     
    </div>
    
    <img src="http://placehold.it/220x350" />
  </div>

  
</div>
</div>

{% endblock content%}
