{% extends 'basic.html' %}
{% block content %}
{% load gravatar %}

<div class="modal" id="deleteModal" style="display:none">
    <div class="modal-header">
      <a class="close" data-dismiss="modal">×</a>
      <h4>删除活动 {{ activity.name }}</h4>
    </div>
    <div class="modal-body">
      <p><strong>所有此活动的照片都将被删除！</strong>确定删除？</p>
    </div>
    <div class="modal-footer">
      <a href="." class="btn">取消</a>
      <a href="{% url 7delete_activity activity.id%}" class="btn btn-primary">删除</a>
    </div>
</div>

<div class="span8">
  <div class="row bd">
    <div class="row">
    <span class="span3"><h4>{{activity.name}}</h4></span>
     {% if user.id == activity.author.id %}
      <small class="muted common pull-right">
        <a href="#deleteModal" data-toggle="modal">删除活动</a>
      </small>
    {% endif %}
    </div>
    <div class="pull-left">
        <small class="muted">开始时间:</small> <small>{{activity.beg_date}}</small>
        <br />
        <small class="muted">结束时间:</small> <small> {{activity.end_date}}</small>
        <br />
        <small class="muted">活动标签:</small> <small> {{activity.tags}}</small>
        <br />
        <small>{{activity.photo_num}}人参加</small>               
    </div>
    <div class="span3 pull-left">
      <p><small class="muted">活动主题:</small>{{activity.subject}}</p>
    </div>
  </div>


  <div class="row">
    <h5>前7名</h5>
     <ul class="unstyled">
      {% for photo in f7 %}
        <li class="7photo" style="margin-bottom:7px;broder:1px solid #DDD">
          <div class="span2">
          <a href="{% url 7show photo.id%}">
          <img src="{{ MEDIA_URL}}{{photo.thumb128}}" class="img-polaroid"/>
          </a>
          <br />
          <small class="muted">
            作者:<a href="{% url 7people photo.author.username %}">
          {% firstof photo.author.first_name photo.author.username %}</a>
          {{photo.votes}}人喜欢</small>
          </div>
        </li>
      {% endfor %}
      </ul>
  </div>

  <div class="row">
    <h5>最新上传(<small class="common"><a href="{% url 7allwork activity.id %}">全部作品</a></small>)</h5>
    <div class="7photos">
      <ul class="unstyled">
      {% for photo in photos %}
        <li class="7photo" style="margin-bottom:7px;broder:1px solid #DDD">
          <div class="span2">
          <a href="{% url 7show photo.id%}">
          <img src="{{ MEDIA_URL}}{{photo.thumb128}}" class="img-polaroid"/>
          </a>
          <br />
          <small class="muted">
            作者:<a href="{% url 7people photo.author.username %}">
          {% firstof photo.author.first_name photo.author.username %}</a>
          {{photo.votes}}人喜欢</small>
          </div>
        </li>
      {% endfor %}
      </ul>
    </div>
  </div>
</div>

<div class="span3 pull-right">
  <div class="row">
  <div class="span3 pull-right">
    <h5>发起人</h5>
     <img src="{% gravatar_url activity.author.email 24%}">
     <span class="common"><a href="{% url 7people activity.author.username %}">
       {% firstof activity.author.firstname activity.author.username %}
     </a></span>
  </div>
  </div>

  <div class="row">
  <div class="span3 pull-right">
    <h5>活动参与者</h5>
    <ul class="unstyled">
          {% for author in authors %}
          <li>
            <div class="span1 7minigravatar">
              <a href="{% url 7people author.username %}">
                <img src="{% gravatar_url author.email %}" /><br />
              {% firstof lf.friend.first_name author.username %}</a>
            </div>
          </li>
        {% endfor %}
        </ul>
  </div>
  </div>

   
    <div class="row">
      <div class="span3 pull-right ">
      <h5>我要参加</h5>
      {% if user.is_authenticated and not participanted %}
      <div class="pull-left">
        <form action="{% url 7anticipate activity.id %}" method="POST"
              enctype="multipart/form-data" 
              accept="image/png,image/jpeg,image/bmp" 
              onsubmit="return getValue()"
              class="upload_form">
          {%csrf_token%}
          <input type="file" name="work" id="7inputfile"/>
          <label ><small class="muted">作品描述:</small></label>
          <textarea name="desc" rows="2" placeholder="说点什么"></textarea>
          <button type="submit" class="btn btn-success btn-small">上传作品</button>
        </form>
      </div>
      {% elif user.is_authenticated %}
      <small>已上传过一个作品到这个活动</small>
      {% else%}
        <p class="muted">
          <a href="{% url 7login %}?next={% url 7activity activity.id%}">登陆</a>后才能参加活动<br />
        还没有账号?<a href="{% url 7singup%}">加入小7</a></p>
      {% endif %}
      </div>
    </div>
</div>

<script type="text/javascript">
function getValue(){
    var x=document.getElementById("7inputfile").value;
    if(x==""){
        alert("请选择要上传的文件");
        return false;
    }else {
        type = x.substring(x.lastIndexOf(".")+1)
        if (type != 'jpg'&& type!="png" && type!="bmp") {
            alert("请选择图片格式的文件上传")
            return false;
        }
    }
    return true;
}
</script>
{% endblock content%}
