{% extends 'basic.html' %}
{% block content %}
{% load i18n %}
<div class="span7">
  <div class="row">
    <div class="pull-left">
      {% if mine%}
      <h5>我参加的活动<small class="common muted"><a href="{% url 7activities %}">(推荐活动)</a></small
        </h5>
      {% else%}
        <h5>推荐活动<small class="common muted"><a href="{% url 7myactivities %}"> (我参加的活动)</a></small></h5>
      {% endif%}
    </div>
    <div class="pull-right">
      <a href="{% url 7create_activity %}"><button class="btn btn-mini
      btn-success">创建新活动</button></a>
      </div>
  </div>

  <div class="7activities">
  	<ul class="unstyled">
  		{% for activity in activities %}
           <div class="row 7activity">
  			<li>
                <div>
                  <p class="common"><strong><a href="{% url 7activity activity.id %}"> {{activity.name}}</a></strong>
                  <br /><small class="muted">{{activity.photo_num}}人参加</small></p>
                </div>
                <div class="7listphotos">
                  {% load keyvalue %}
                  <ul class="unstyled">
                    {% for photo in photos|keyvalue:activity %}
                      <li style="display:inline">
                        <a href="{% url 7show photo.id %}">
                        <img src="{{MEDIA_URL}}{{ photo.thumb64 }}" /></a>
                      </li>
                    {% endfor %}
                  </ul>
                </div>
             
  			</li>
            <hr />
           </div>
  		{% endfor%}
  	</ul>
  </div>
 
  {% if activities.paginator.num_pages > 1%}
    <div class="pagination">
      <span class="step-links">
        {% if activities.has_previous %}
            <a href="?p={{ activities.previous_page_number }}">prev</a>
        {% endif %}
            
        <span class="current">
            Page {{ activities.number }} of {{ activities.paginator.num_pages }}.
        </span>

        {% if activities.has_next %}
            <a href="?p={{ activities.next_page_number }}">next</a>
        {% endif %}
    </span>
  </div>
  {% endif %}
</div>

<div class="span4 pull-right">
  <div class="row">
  <h5>最新活动</h5>
  </div>
  	<ul class="unstyled">
  		{% for activity in news %}
           <div class="row 7activity">
  			<li>
                <div>
                  <p class="common"><strong><a href="{% url 7activity activity.id %}"> {{activity.name}}</a></strong>
                  <br />
                  <small class="muted">时间:{{activity.beg_date|date:"Y-m-d"}} - {{activity.end_date|date:"Y-m-d"}}
                  <br />
                  {{activity.photo_num}}人参加</small></p>
                </div>
  			</li>
            <hr />
           </div>
  		{% endfor%}
  	</ul>
  
</div>
{% endblock content %}
