{% extends 'basic.html' %}
{% load gravatar %}
{% block content %}

 <div class="modal" id="deleteModal" style="display:none">
    <div class="modal-header">
      <a class="close" data-dismiss="modal">×</a>
      <h4>确定要删除照片吗</h4>
    </div>
    <div class="modal-footer">
      <a href="." class="btn">取消</a>
      <a href="{% url 7deletework photo.id %}" class="btn btn-primary">删除</a>
    </div>
 </div>

<div class="7photowin span7">
  <div class="7photonav row">
    <span class="pull-left">
      <a href="{% url 7allwork activity.id%}">>浏览所有照片</a>
      <a href = "{% url 7activity  activity.id %}">&gt;活动首页</a>
      <small>({{photo.index}}/{{activity.photo_num}})</small>
    </span>
    <span class="pull-right">
       <a href = "{% url 7show pp.id %}">
         <button class="btn btn-mini">
           <i class="icon-arrow-left"></i>前一张
         </button>
       </a>
       <a href="#">
         <button class="btn btn-mini">
           <i class="icon-resize-full"></i>
       </button></a>
       <a href = "{% url 7show np.id %}">
         <button class="btn btn-mini">
           后一张<i class="icon-arrow-right"></i>
       </button></a>
    </span>
  </div>
  <div class="7box">
    <div class="7photo">
      <a href = "{% url 7show np.id %}">
        <center>
        <img src="{{MEDIA_URL}}{{ photo.path }}" max-width="530"
             class="img-polaroid"/>
        </center>
      </a>
    </div>
    <div class="7photobottom">
      <p class="muted">
        <small class="common">上传于
        {{photo.join_date|date:'Y-m-d'}} 
        {% if not OTHER %}
        <a  data-toggle="modal" href="#deleteModal">删除照片</a>
        {% endif %}
        </small>
      </p>
    </div>
  </div>
  </div>
<div class="span4 pull-right">
  <div id="7vote" class="span4 pull-right">
   <h5>喜欢</h5>
   
   <small class="muted">{{photo.votes}}人 {% if not voted and not exceed%}点我-->{% endif %}</small>
   
   {% if not voted and not exceed %}<a href="{% url 7vote photo.id%}">{% endif%}
   <button class="btn btn-mini"><i class="icon-heart"></i></button>
   {% if not voted and not exceed %}</a>{% endif %}
  </div>
  
  <div id="person" class="span4 pull-right">
    <h5>作者</h5>
    <img src="{% gravatar_url user.email 24 %}" />
    <a href="{% url 7people people.username %}">
      {% firstof people.first_name people.username %}
    </a>
    
    {% if user.is_authenticated %}
    {% if neighbour and neighbour_off %}
    <a href="{% url accounts_eyeon people.username %}"><small class="muted">加关注</small></a>
    {% elif neighbour %}
    已关注
    {% endif %}
    {% endif %}
  </div>

</div>
{% endblock content %}
