body{
    font-family:Verdana,Geneva,Arial,Helvetica,sans-serif
}
header{
    margin-bottom:13px;
}
h4,h5,h6{
    color:#060;
}
ul{
    display:block;
}
ul li{display:inline;}
section {
  padding-top: 30px;
}
a:link{text-decoration:none;} 
a:hover{text-decoration:none}

.bs-docs-sidenav > li:first-child > a {
  -webkit-border-radius: 6px 6px 0 0;
     -moz-border-radius: 6px 6px 0 0;
          border-radius: 6px 6px 0 0;
}
.bs-docs-sidenav > li:last-child > a {
  -webkit-border-radius: 0 0 6px 6px;
     -moz-border-radius: 0 0 6px 6px;
          border-radius: 0 0 6px 6px;
}
.bs-docs-sidenav > li > a {
  display: block;
  *width: 190px;
  margin: 0 0 -1px;
  padding: 8px 14px;
  border: 1px solid #e5e5e5;
}
.comment textarea{
    width:78%;
}
.feature{
    padding: 0 10px 3px; margin: 0 0 20px;
    background:#F7F7F7;
    
}
.feature:hover{
   
    background:#EFEFEF;
}

.7photo-box{
  width: 220px;
  margin: 10px;
  float: left;
}

.7photo-desc{
    background-color:gray;
}
.upload_form textarea{
    width:95%;
}

.btn a{
    color:black;
}
.content{
    min-height:420px;
    margin-left:auto;
    margin-right:auto;
}
.common a:hover{
    background:#08c;
    color:white;
}
.thislink a{
    color:white;
    background:#83BE73;
}

.7minigravatar{
    word-break:break-all;
    word-wrap:break-word;
    width:42px;
    margin-left:10px;
}

.7activity.hover{
    background:#EFEFEF;
}

.bd,.person,.upload_form{
    word-wrap: break-word;
    padding: 4px 9px;
    background: #FFF6ED;
    border: 1px solid #FAEFE3;
    border-width: 0 1px;
}

.commentinfo{
    background:#E9F4E9;
}

