;; -*- mode: emacs-lisp; coding: emacs-mule; -*-
;; --------------------------------------------------------------------------
;; Desktop File for Emacs
;; --------------------------------------------------------------------------
;; Created Fri Sep  7 00:33:39 2012
;; Desktop file format version 206
;; Emacs version 24.2.1

;; Global section:
(setq desktop-missing-file-warning nil)
(setq tags-file-name nil)
(setq tags-table-list nil)
(setq search-ring nil)
(setq regexp-search-ring nil)
(setq register-alist '((48 . "        \n        \n    ")))
(setq file-name-history '("~/documents/gitdir/pk7lover/templates/" "~/documents/gitdir/pk7lover/pk7lover/" "~/documents/gitdir/pk7lover/templates/index_photo.html" "~/documents/gitdir/pk7lover/templates/" "~/documents/gitdir/pk7lover/templates/index_text.html" "~/documents/gitdir/pk7lover/templates/" "~/documents/gitdir/pk7lover/pk7lover/" "~/documents/gitdir/pk7lover/templates/" "~/documents/gitdir/pk7lover/static/js/" "~/documents/gitdir/pk7lover/pk7lover/" "~/documents/gitdir/pk7lover/albums/"))

;; Buffer section -- buffers listed in same order as in buffer list:
(desktop-create-buffer 206
  "/home/shellfly/documents/gitdir/pk7lover/templates/index_photo.html"
  "index_photo.html"
  'nxhtml-mumamo-mode
  '(auto-fill-mode linum-mode yas/minor-mode)
  650
  '(356 nil)
  nil
  nil
  '((buffer-file-coding-system . utf-8-unix)))

(desktop-create-buffer 206
  "/home/shellfly/documents/gitdir/pk7lover/pk7lover/views.py"
  "views.py"
  'python-mode
  '(linum-mode yas/minor-mode auto-complete-mode)
  1675
  '(1686 nil)
  nil
  nil
  '((tab-width . 8) (indent-tabs-mode) (buffer-file-coding-system . undecided-unix)))

(desktop-create-buffer 206
  "/home/shellfly/documents/gitdir/pk7lover/templates/index_text.html"
  "index_text.html"
  'django-html-mumamo-mode
  '(auto-fill-mode linum-mode yas/minor-mode)
  681
  '(658 nil)
  nil
  nil
  '((buffer-file-coding-system . utf-8-unix)))

(desktop-create-buffer 206
  nil
  "pk7lover<2>"
  'dired-mode
  '(linum-mode yas/minor-mode)
  854
  '(nil nil)
  t
  '("/home/shellfly/documents/gitdir/pk7lover/pk7lover/")
  nil)

(desktop-create-buffer 206
  "/home/shellfly/documents/gitdir/pk7lover/templates/index.html"
  "index.html"
  'django-html-mumamo-mode
  '(auto-fill-mode linum-mode)
  810
  '(839 nil)
  nil
  nil
  '((buffer-file-coding-system . utf-8-unix)))

(desktop-create-buffer 206
  "/home/shellfly/documents/gitdir/pk7lover/templates/base.html"
  "base.html"
  'nxhtml-mumamo-mode
  '(auto-fill-mode linum-mode yas/minor-mode)
  1364
  '(1364 nil)
  nil
  nil
  '((buffer-file-coding-system . utf-8-with-signature-unix)))

(desktop-create-buffer 206
  "/home/shellfly/documents/gitdir/pk7lover/static/js/main.js"
  "main.js"
  'js-mode
  '(linum-mode yas/minor-mode auto-complete-mode)
  216
  '(1 nil)
  nil
  nil
  '((buffer-file-coding-system . undecided-unix)))

(desktop-create-buffer 206
  nil
  "static"
  'dired-mode
  '(linum-mode yas/minor-mode)
  200
  '(nil nil)
  t
  '("/home/shellfly/documents/gitdir/pk7lover/static/")
  nil)

(desktop-create-buffer 206
  nil
  "js"
  'dired-mode
  '(linum-mode yas/minor-mode)
  206
  '(nil nil)
  t
  '("/home/shellfly/documents/gitdir/pk7lover/static/js/")
  nil)

(desktop-create-buffer 206
  nil
  "albums"
  'dired-mode
  '(linum-mode yas/minor-mode)
  200
  '(nil nil)
  t
  '("/home/shellfly/documents/gitdir/pk7lover/albums/")
  nil)

(desktop-create-buffer 206
  "/home/shellfly/documents/gitdir/pk7lover/albums/models.py"
  "models.py"
  'python-mode
  '(linum-mode yas/minor-mode auto-complete-mode)
  1545
  '(nil nil)
  nil
  nil
  '((tab-width . 8) (indent-tabs-mode) (buffer-file-coding-system . undecided-unix)))

