
{# base template just include the basic html #}
<!DOCTYPE html >
<html lang="zh-cn">

<!-- BEGIN html head -->
<head>
  <meta http-equiv="Content-Type" content="text/html charset=utf-8"/>
  <meta http-equiv="mobile-agent" content="format=html5;url=http://i.pk7lover.net/" />
  <meta http-equiv="pragma" content="no-cache" />
  <meta http-equiv="cache-control" content="no-cache" />
  <meta name="robots" content="index,follow" />

  <meta name="keywords" content="分享，照片" />
  <meta name="description" content="用照片分享生活" />

  
  <link rel="stylesheet" type="text/css" href="{{STATIC_URL}}style/bootstrap.min.css"/>
  <link rel="stylesheet" type="text/css" href="{{STATIC_URL}}uploadify/uploadify.css" />
  <link rel="stylesheet" type="text/css" href="{{STATIC_URL}}style/datePicker.css" />
 
  <script type="text/javascript" src="{{ STATIC_URL }}js/jquery-1.8.0.min.js"></script> 
  <script type="text/javascript" src="{{ STATIC_URL }}js/jquery-cookie.js"></script> 
  <script type="text/javascript" src="{{ STATIC_URL }}js/jquery.masonry.min.js"></script>
  <script type="text/javascript" src="{{ STATIC_URL }}js/jquery.imagesloaded.min.js"></script>
  <script type="text/javascript" src="{{ STATIC_URL }}js/bootstrap.min.js"></script>
  <script type="text/javascript" src="{{ STATIC_URL }}js/date.js"></script>                                
  <script type="text/javascript" src="{{ STATIC_URL }}js/jquery.datePicker.js"></script>
  <script type="text/javascript" src="{{ STATIC_URL }}js/main.js"></script>
  <title>{% block title %} Pk7lover {% endblock %}</title>
</head>
<!-- END html head -->

<body>
<!-- BEGIN container -->
{% load gravatar %}
{% load url from future %}
{% load mytime %}
{% current_time "%H" as 7hour %}
{% current_time "%M" as 7minute%}
<div class="container">
  <header class="header">
    <div class="row">
      <div class="7logo span4 pull-left">
        <a href="/"> <h4>Pk7lover<h4></a>
      </div>

      <div class="7utility span8 pull-right">
        <div class="row">
          <div class="7header_info pull-right">
            {% block 7header_info %}
            {% endblock 7header_info %}
          </div>
        </div>
        
        <div class="row">
          <div class="7header_nav pull-right">
            {% block 7header_nav %}
            {% endblock 7header_nav %}
          </div>
        </div>
      </div>
    </div>
  </header>
  
  <div class="content row">
    {% block content %} 
    {% endblock content%}
  </div>
 
  <footer>
    <hr />
    <span id="copy">&copy pk7lover 2012</span>
  </footer>
   
</div>
<!-- END wrapper -->

</body>
</html>
