{% extends 'base.html' %}

{% block 7header_info %}
{%if user.is_authenticated %}
  <ul class="unstyled common">
    <li style="display:inline">
      {% if 7hour >= 0 and 7hour < 6 %}
        熬夜对身体不好,
        {% elif 7hour >= 6 and 7hour < 11 %}
        早上好,
        {% elif 7hour < 14  %}
        可以睡个午觉哦,
        {% elif 7hour < 18 %} 
        下午好,
        {% elif 7hour < 22 %}
        晚上好,
        {% elif 7hour <= 23%}
        早点休息,
      {% endif %}
      <a href="{% url 7profile %}">
        {% firstof user.first_name user.username %}
      </a>
    </li>
    <li style="display:inline"><i class="icon-envelope"></i> 私信</li>
    <li style="display:inline"><i class="icon-camera"></i> 拍照</li>
    <li style="display:inline"><i class="icon-off"></i><a href="/accounts/logout">退出</a></li>   
  </ul>
{% else %}
 <ul class="unstyled common">
    <li style="display:inline" ><i class="icon-globe"></i><a href = "/browse/">浏览</a></li>
    <li style="display:inline" ><i class="icon-user"></i><a href = "/accounts/login/">登录</li>
    <li style="display:inline"><i class="icon-heart"></i><a href="/accounts/signup">注册</a></li>
  </ul>
<div class="social pull-right">
  <a href="{% url socialauth_begin 'douban2' %}">
    <img src="{{STATIC_URL}}douban.png"></a> </div>

{% endif %}
{% endblock 7header_info %}

{% block 7header_nav %}
{% if user.is_authenticated %}
  <ul class="unstyled nav-tabs">
    <li><a href="/"><i class="icon-home"></i>首页</a></li>
    <li><a href="/accounts/{{user.username}}"><i class="icon-th-large"></i>我的小7</a></li>
    <li class="dropdown" >
      <a class="dropdown-toggle" data-toggle="dropdown" href="#">
        <i class="icon-fire"></i>小7之刃
        <b class="caret"></b>
      </a>
      <ul class="dropdown-menu">
        <li class="nav-header">照片</li>
        <li>
          <a href="{% url 7create_album %}">新建相册</a>
        </li>
        <li>
          <a href="{% url 7albums user.username %}">我的相册</a>
        </li>
        <li>
          <a href="{% url 7upload_photo 0 %}">上传</a>
        </li>
        <li class="nav-header">活动</li>
        <li>
          <a href="{% url 7activities %}">所有活动</a>
        </li>
        <li>
          <a href="{% url 7myactivities %}">我参加的活动</a>
        </li>
       
        <li>
          <a href="{% url 7create_activity %}">创建新活动</a>
        </li>
        <li class="divider"></li>
         <li>
          <a href="{% url 7profile %}">个人信息</a>
        </li>
        <li class="divider"></li>
      </ul>      
    </li>
    <li>
      <form class="navbar-search pull-right">
        <input type="text" class="search-query" placeholder="Search" />
      </form>
    </li>
  </ul>
{% else %}
<p></p>
{% endif %}
{% endblock 7header_nav %}
