{% extends 'base.html' %}
{# basic2.html, like basic.html but for no login user#}

{% block 7header_info %}
  <ul class="unstyled">
    <li style="display:inline" ><i class="icon-globe"></i><a href = "/about">浏览</a></li>
    <li style="display:inline" ><i class="icon-user"></i><a href = "/accounts/login/">登录</li>
    <li style="display:inline"><i class="icon-heart"></i><a href="/accounts/signup">加入小7</a></li>
  </ul>
{% endblock 7header_info %}

{% block 7header_nav %}
  <p>觉得不错的话，就一起来玩把</p>
{% endblock 7header_nav %}
