{% extends 'basic.html' %}
{% block content %}
  
<div class="row">
  <div class="span3 bs-docs-sidebar">
    <ul id="affixnav" class="nav nav-list bs-docs-sidenav">
      <li><a href="#pk7lover">Pk7lover</a></li>
      <li><a href="#leftright">左、右</a></li>
      <li><a href="#activity">活动</a></li>
      <li><a href="#faq">FAQ</a></li>
      <li><a href="#about">关于</a></li>
      <li><a href="{% url 7singup %}">加入小7</a></li>
    </ul>
  </div>

  <div class="span8 pull-right">
    <h3></h3>
    <section id="pk7lover">
      <div class="pull-left"><img src="{{STATIC_URL}}album.png" /></div>
      <h4>Pk7lover == Picture Lover.</h4>
      <p>
        pk7lover是一个在线分享照片的网站,如果你用过flickr,那么就一定不会对pk7lover感到陌生.
      <br />在这里你可以创建自己的相册，上传喜爱的照片，并把照片和朋友、家人一起分享.</p>
      
    </section>

    <p>...</p>
    <section id="leftright">
      
      <div class="pull-right"><img src="{{STATIC_URL}}broadcast.png"/></div>
      <h4>左邻右舍.</h4>
      <p> 
      在小7里，你可以把你喜欢人加入合适的分组里，你关注的人会出现
      在<strong>左邻</strong>里，关注你的人在<strong>右舍</strong>中.

      在首页的广播里会出现所有你和你关注的人在小7里的最新信息，参加活
      动、上传照片等等.
      </p>
    </section>
    <p clss="row">...</p>
    <section id="activity">
      <div class="pull-right"><img src="{{STATIC_URL}}participant.png"/></div>
        <h4>活动</h4>
      你可以用自己引以为豪的作品参加小7里的各种活动，或者创建自己的主
      题活动，任何有创意的照片，有意思的想法，都可以用来别人一起分享，
      活动的目的就是大家一起参与，一起玩乐.
      </section>

      <p class="row">...</p>
      <section id="faq">
        <h4>FAQ</h4>
        <ol>
          <li><p><strong>为什么我在活动里只能上传一张照片</strong>
          <br />
          个人觉得这样会好玩一点，所以就选择你满意的照片参加活动吧.
          </p>
          </li><div class="pull-right"><img src="{{STATIC_URL}}upload.png"></div>
          <li><p><strong>为什么我的浏览器不能使用多文件上传?</strong>
        <br />多文件上传需要flash能够正常工作，检查你的浏览器中flash是
        否工作最简单的方式就是打开一个视频网站，如果视频无法正常播发，
        可以依照提示安装flash.
        <li><p><strong>为什么pk7lover的界面 这么 难看啊。。</strong>
        <br />
        对前端不是很熟，而且开发时一直用chrome调试，所以为了得到最好的浏览体验，请使用chrome或者firefox浏览小
        7.如果你有兴趣帮忙改改那就更好了:D</p></li>
        </ol>
      </section>
      
      <p>...</p>
        <section id="about">
          <h4>关于小7</h4>
          <p>花了一个月的时间，算是完成了最基本的功能，这是自己第一次
          用django，也是第一次写网站(前端各种头疼--#)还有很多功能没有完善，设计也有很
          多不足，以后会慢慢修正。</p>
          <p class="common">
          如果在小7中发现任何问题或是有什么建议，欢迎到我的博客留言<a href="http://shellfly.org"
          target="_blank">shellfly</a>
          或者给我发封邮件:D,<br />地址是shell0fly#gmail.com</p>
        </section>
      </div>
</div>

<script>
  $(function(){
  $('#affixnav').affix();
  });
</script>
{% endblock %}
