{% extends 'basic.html' %}

{% block content %}
  <div class="row">
    <div class="span8 7boardcast">
       <h4>广播 <i class="icon-volume-up"></i></h4>
       <form class="7saying form-vertical" action="{% url 7broadcast_say %}" method="post" >
         {% csrf_token%}
        <input class="span7" type="text" name="saying" placeholder="有什么不开心的事，说出来让大家开心一下.." />
         <input class="btn btn-success" type="submit" value="吐嘈" />
       </form>

       <div class="7nav">
         <ul class="nav nav-tabs">
           <li {% if show_text %}class="active"{% endif %}><a href="{% url home %}?tag=1">吐嘈</a></li>
           <li {% if not show_text%} class="active"{% endif %}><a href="{% url home %}?tag=2">照片</a></li>
         </ul>
       </div>
       
       <div class="7news">
         {% if show_text %}
           <ul class="unstyled">
             {% for saying in sayings %}
               <li> 
                 <div class="row">
                 <div class="7avatar span1">
                 <a href="{% url 7people saying.user.username %}">
                     <img src="http://placehold.it/64x64" />
                 </a>
                 </div>
                 <div class="7text offset1">
                   <a href="{% url 7people saying.user.username %}">
                     {% firstof saying.user.firstname saying.user.username%} 
                   </a>:
                  <br />
                  <blockquote>
                    {{ saying.text }}
                  </blockquote>
                    <hr />
                 </div>
                 </div>
              
               </li>
           {% endfor %}
           </ul>
         {% else %}
           some photo
         {% endif %}
       </div>
    </div>


    <div class="span4 pull-right personal">
      <div class="row 7neighbour">
        <h5>你的邻居们</h5>
        <ul class="unstyled">
          {% for friend in friends %}
          <li style="display:inline">
            <div class="7user span1">
              <a href="{% url 7people friend.friend.username %}">
                <img src="http://placehold.it/64x64" />
                <br />
              {% firstof friend.friend.first_name friend.friend.username%}
              </a>        
            </div>
          </li>
          {% endfor %}
          </ul>
      </div>
      <div class="row 7active">
        <h5>小7活跃用户</h5>
         {% for active in actives %}
          <li style="display:inline">
            <div class="7user span1">
              <a href="{% url 7people active.username %}">
                <img src="http://placehold.it/64x64" />
                <br />
              {% firstof active.first_name active.username%}
              </a>        
            </div>
          </li>
          {% endfor %}
      </div>
    </div>
  </div>
{% endblock content %}

