{% extends 'index.html' %}

{% block 7news%}
{% load gravatar %}
  <ul class="unstyled">
    {% for photosaying in photosayings %}
      <li> 
        <div class="row">
          <div class="7avatar span1">
            <a href="{% url 7people photosaying.user.username %}">
              <img src="{% gravatar_url photosaying.user.email 40%}" />
            </a>
          </div>
          <div class="7photo offset1">
            <a href="{% url 7people photosaying.user.username %}">
              {% firstof photosaying.user.first_name photosaying.user.username %} 
            </a> 
            上传了{{ photosaying.num }}张照片 到 
            <a href="{% url 7single_album photosaying.user.username photosaying.gallery.id%}">
              {{ photosaying.gallery.name }}:
            </a>
            <br />
            <div class="7listphotos">
              {% load keyvalue %}
              <ul class="unstyled">
                 {% for photo in photos|keyvalue:photosaying %}
                    <li style="display:inline">
                      <a href="{% url 7single_photo photo.id %}">
                      <img src="{{MEDIA_URL}}{{ photo.thumb64 }}" /></a>
                    </li>
                  {% endfor %}
              </ul>
            </div>
            <hr />
          {% endfor %}
        </ul>
      {% endblock 7news%}
      
