{% extends 'basic.html' %}

{% block content %}
{% load gravatar %}
  <div class="row">
    <div class="span8 7boardcast">
       <h4>小7广播 <i class="icon-volume-up"></i></h4>
       
       <div class="7news">
         {% block 7news %}
         {% endblock 7news %}
         
         {% if sayings.paginator.num_pages > 1%}
         <div class="pagination">
           <span class="step-links">
             {% if sayings.has_previous %}
             <a href="?p={{ sayings.previous_page_number }}">prev</a>
             {% endif %}
            
             <span class="current">
               Page {{ sayings.number }} of {{ sayings.paginator.num_pages }}.
             </span>

             {% if sayings.has_next %}
             <a href="?p={{ sayings.next_page_number }}">next</a>
             {% endif %}
           </span>
         </div>
         {% endif %}
       </div>
       
    </div>


    <div class="span3 pull-right personal">
      <div class="row 7neighbour">
        <h5>我的邻居们</h5>
        <ul class="unstyled common">
          {% for neighbour in neighbours %}
          <li style="display:inline">
            <div class="7user span1">
              <img src="{% gravatar_url neighbour.email 48%}" />
                <br />
                <a href="{% url 7people neighbour.username %}">
              {% firstof neighbour.first_name neighbour.username%}
              </a>        
            </div>
          </li>
          {% endfor %}
          </ul>
      </div>

      <div class="row " id="7active">
        <h5>小7活跃用户</h5>
         {% for active in actives %}
          <li style="display:inline">
            <div class="7user span1 common">
                <img src="{% gravatar_url active.email 48 %}" />
                <br />
                <a href="{% url 7people active.username %}">
              {% firstof active.first_name active.username%}
              </a>        
            </div>
          </li>
          {% endfor %}
      </div>

      <div id="activity" class="row">
        <h5>推荐活动(<small class="common"><a href="{% url 7activities %}">全部</a></small>)</h5>
        <ul class="unstyled common">
          {% for activity in activities%}
          <li>
            <a href="{% url 7activity activity.id %}">
              {{activity.name}}
            </a>
          <br />
          <small>{{activity.photo_num}}人参加</small>
          <br />
          <small>时间:{{activity.beg_date|date:"Y-m-d"}} -
          {{activity.end_date|date:"Y-m-d"}}</small>
          <div class="ul" style="border-bottom:1px dashed #DDD;line-height:100%;clear:both"></div>
          <br />
          </li>
          {% endfor %}
          </ul>
      </div>

    </div>
  </div>
{% endblock content %}

