
{% extends 'basic.html' %}


{% block content %}
  <div class="row">
    <div class="span8 7boardcast">
       <h4>小7广播 <i class="icon-volume-up"></i></h4>
       <div class="7tucao">
       <form class="7saying form-vertical" action="{% url 7broadcast_say %}" method="post" >
         {% csrf_token%}
        <textarea class="span8" rows='1' name="saying" placeholder="有什么不开心的事，说出来让大家开心一下.."></textarea>
       </form>
       </div>

       <div class="7nav">
         <ul class="nav nav-tabs">
           <li {% if show_text %}class="active"{% endif %}><a href="{% url home %}?tag=1">吐嘈</a></li>
           <li {% if not show_text%} class="active"{% endif %}><a href="{% url home %}?tag=2">照片</a></li>
         </ul>
       </div>
       
       <div class="7news">
         {% block 7news %}
         {% endblock 7news %}
       </div>
    </div>


    <div class="span4 pull-right personal">
      <div class="row 7neighbour">
        <h5>我的邻居们</h5>
        <ul class="unstyled">
          {% for neighbour in neighbours %}
          <li style="display:inline">
            <div class="7user span1">
              <a href="{% url 7people neighbour.username %}">
                <img src="http://placehold.it/64x64" />
                <br />
              {% firstof neighbour.first_name neighbour.username%}
              </a>        
            </div>
          </li>
          {% endfor %}
          </ul>
      </div>
      <div class="row 7active">
        <h5>小7活跃用户</h5>
         {% for active in actives %}
          <li style="display:inline">
            <div class="7user span1">
              <a href="{% url 7people active.username %}">
                <img src="http://placehold.it/64x64" />
                <br />
              {% firstof active.first_name active.username%}
              </a>        
            </div>
          </li>
          {% endfor %}
      </div>
    </div>
  </div>
{% endblock content %}

