{% extends 'index.html' %}
{% block 7news %}
{%load gravatar%}
  <ul class="unstyled">
    {% for saying in sayings %}
      <li> 
        <div class="row">
          <div class="7avatar span1">
            <a href="{% url 7people saying.user.username %}">
             <img src="{% gravatar_url saying.user.email %}" />
            </a>
          </div>
          <div class="7text offset1">
            <a href="{% url 7people saying.user.username %}">
              {% firstof saying.user.firstname saying.user.username%} 
              </a>:
              <br />
              <blockquote>
                {{ saying.text }}
              </blockquote>
              <hr />
          </div>
        </div>
      </li>
    {% endfor %}
  </ul>
  {% endblock 7news %}
