{% extends 'basic.html' %}
{# strange.html used for unsignup users #}

{% block content %}
<div id="myCarousel" class="carousel slide">
  <!-- Carousel items -->
  <div class="carousel-inner">
    <div class="active item"><img src="/static/images/fly2.jpg" height="300"/></div>
    
  </div>
  <!-- Carousel nav -->
  <a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
  <a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
</div>

  <div class="feature span5 offset1">
    
    <h4>社区</h4>
    <p ><strong>快乐和朋友,家人分享</strong></p>
    <p>跟n个人分享你的快乐，你就能得到2<sup>n</sup>个快乐</p>
   
  </div>    
  
  <div class="feature span5 offset5">
    <h4>上传</h4>
    <p><strong>随时随地，即拍即传</strong></p>
    <p>一部<abbr title="敬请期待">手机</abbr>或者一台电脑，任何你喜欢的方式，保留最美的瞬间</p>
  </div>
  
  <div class="feature span5 offset2">
    <h4 >发现</h4>
    <p><strong>拍照,分享,整理,纪念</strong></p>
    <p>发掘自己喜欢的照片,结识更多有趣的人</p>
  </div>

{% endblock content%}
