{% extends 'basic.html' %}
{% block content%}
{% load gravatar %}
  <div class="span7">
    {% if  not OTHER  %}
  <p class="text-info"><a href="../create/" ><button class="btn
  btn-success btn-small">+创建新相册</button></a></p>
  {% endif %}
    <ul class="unstyled">
     {% for album in albums %}
       <li >
         <div class="7album span2">
         <a href="{% url 7single_album people.username album.id %}">
           {% if album.cover %}
             <img src="{{MEDIA_URL}}{{ album.cover }}"  class="img-polaroid"/>
           {% else %}
             <img src="{{STATIC_URL}}100x100.gif"  class="img-polaroid"/>  
           {% endif %}
           </a><br />{{ album.name }}
           <p class="muted"><small>{{album.photo_num}}张照片<br />{{ album.update_date|date:'Y-m-d'}} 更新</small></p>

           </div>
       </li>
     {% endfor %}
    </ul>
  </div>


  <div class="span3 pull-right">
      <div id="person" class="span3 pull-right">
        <img src="{% gravatar_url user.email %}">{% firstof people.first_name people.username %}<br/>
        {% if user.is_authenticated %}
          {% if neighbour and neighbour_off %}
            <a href="{% url accounts_eyeon people.username %}">关注此人</a>
            {% elif neighbour %}
            已关注
          {% endif %}
        {% endif %}
      </div>
  </div>
{% endblock content %}
