{% extends 'base.html' %}
{% block content %}
  <div id="album tools">
    <ul>
      <li><a href="upload">添加照片</a></li>
      <li><a href="edit">修改属性</a></li>
      <li><a href="order">照片排序</a></li>
      <li><a href="/albums/{{ user.username }}">返回相册首页</a></li>
    </ul>
  </div>
  
  <div id = "album_photos">
    <ul id="photos">
      {% for photo in photos %}
        <li><a href="/albums/photos/{{ photo.randomid }}">
            <img src="{{ MEDIA_URL}}{{ parent }}/{{ child }}/{{ photo.thumbnail }}" /></a>
        </li>
      {% endfor %}
    </ul>
    
  </div>

  
{% endblock content %}
