{% extends 'base.html' %}
{% block content %}
  {% if perm_err %}
    <p class="error_msg">
      Sorry,but you have no permission to view these photos
    </p>
  {% else %}

  <div id="utility">
    <ul>
      <li><a href="upload">上传照片</a></li>
      <li><a href="edit">修改属性</a></li>
      <li><a href="order">照片排序</a></li>
      <li><a href="delete">删除相册</a></li>
      <li><a href="/albums/{{ user.username }}">返回相册首页</a></li>
    </ul>
  </div>
  
  <div id = "album_photos">
    <ul id="photos">
      {% for photo in photos %}
        <li style="display:inline"><a href="/albums/photos/{{ photo.id }}">
            <img src="{{ MEDIA_URL}}{{ photo.parent }}/{{ photo.child }}/{{ photo.thumbnail }}" /></a>
        </li>
      {% endfor %}
    </ul>
    
  </div>
{% endif %}
  
{% endblock content %}
