{% extends 'basic.html' %}
{% block content%}
{% load gravatar %}
<div class="span8">
  <div id="person" class="span7 pull-left common">
   <h4> 
     <img src="{% gravatar_url people.email 32 %}">
       <a href="{% url 7people people.username%}">
         {% firstof people.first_name people.username %}
         </a>的相册
       </h4>
      {% if albums.count == 0%}
        {% if OTHER %}
          <small><br />他还没有创建相册，先到其他页面转转</small>
        {% else %}
          <small><br />开始<a href="{% url 7create_album %}">创建</a>自己第一个相册</small>
        {% endif %}
      {% endif %}
    </div>

    <ul class="unstyled">
     {% for album in albums %}
       <li >
         <div class="7album span2">
         <a href="{% url 7single_album album.id %}">
           {% if album.cover %}
             <img src="{{MEDIA_URL}}{{ album.cover }}"  class="img-polaroid"/>
           {% else %}
             <img src="{{STATIC_URL}}100x100.gif"  class="img-polaroid"/>  
           {% endif %}
           </a><br />{{ album.name }}
           <p class="muted"><small>{{album.photo_num}}张照片<br />{{ album.update_date|date:'Y-m-d'}} 更新</small></p>

           </div>
       </li>
     {% endfor %}
    </ul>
</div>

{% if  not OTHER  %}
  <div class="span3 pull-right">
    <a href="../create/" >
    <button class="btn btn-success btn-small">+创建新相册</button></a>
  </div>
{% endif %}
{% endblock content %}
