{% extends 'basic.html' %}
{% block content %}
  {% if perm_err %}
    <p class="error_msg">
      Sorry,but you have no permission to view these photos
    </p>
  {% else %}

  <div class="modal" id="myModal" style="display:none">
    <div class="modal-header">
      <a class="close" data-dismiss="modal">×</a>
      <h4>删除相册 {{ album.name }}</h4>
    </div>
    <div class="modal-body">
      <p><strong>所有此相册相关的信息都将被删除！</strong><br />确定删除？</p>
    </div>
    <div class="modal-footer">
      <a href="." class="btn">取消</a>
      <a href="delete" class="btn btn-primary">删除</a>
    </div>
  </div>
  
  <div id="utility">
    <ul>
      <li><a href="upload">上传照片</a></li>
      <li><a href="edit">修改属性</a></li>
      <li><a href="order">照片排序</a></li>
      <li><a data-toggle="modal" href="#myModal">删除相册</a></li>
      <li><a href="/albums/{{ user.username }}">返回相册首页</a></li>
    </ul>
  </div>
  
  <div id = "album_photos">
    <ul id="photos">
      {% for photo in photos %}
        <li style="display:inline"><a href="/albums/photos/{{ photo.id }}">
            <img src="{{ MEDIA_URL}}{{ photo.parent }}/{{ photo.child }}/{{ photo.thumbnail }}" /></a>
        </li>
      {% endfor %}
    </ul>
    
  </div>
{% endif %}
  
{% endblock content %}
