{% extends 'basic.html' %}

{% block customjs%}

<script>
function photo_edit(){
pixlr.overlay.show({image:'{{site_name}}{{MEDIA_URL}}{{photo.path}}',
title:'{{photo.uname}}', service:'express',
exit:'http://{{site_name}}{% url 7single_photo photo.id%}'});
}
</script>
{% endblock customjs%}

{% block content %}
{% load gravatar%}
 <div class="modal" id="deleteModal" style="display:none">
    <div class="modal-header">
      <a class="close" data-dismiss="modal">×</a>
      <h4>确定要删除照片吗</h4>
    </div>
    <div class="modal-footer">
      <a href="." class="btn">取消</a>
      <a href="delete" class="btn btn-primary">删除</a>
    </div>
 </div>

 <div class="7photowin span7">
   <div class="7photonav row">
     <div class="pull-left btn-group">
       <a href = "{% url 7single_album  album.id %}">
       <button class="btn btn-mini">
       <i class="icon-arrow-up"></i>返回相册
       </button></a>
       {% if not OTHER %}
       <a href = "{% url 7setcover photo.id %}">
         <button class="btn btn-mini">
           <i class="icon-share-alt"></i>设为封面
         </button></a>

         <button class="btn btn-mini" onclick="photo_edit()"><i class="icon-picture"></i>编辑照片</button>

       {% endif %}
     </div>
      <small class="pull-left">({{photo.index}}/{{album.photo_num}})</small>

     <div class=" pull-right btn-group">
        <a href = "{% url 7single_photo pp.id %}">
        <button class="btn btn-mini">
        <i class="icon-arrow-left"></i>前一张
       </button> </a>
        
     <a href="{% url 7slideindex album.id photo.index%}"> 
       <button class="btn btn-mini"><i class="icon-resize-full"></i>
       </button></a>
       
       <a href = "{% url 7single_photo np.id %}">
       <button class="btn btn-mini">
         后一张<i class="icon-arrow-right"></i>
       </button></a>
     </div>
   </div>

   <div class="7photo row">
     <a href = "{% url 7single_photo np.id %}">
       <center>
       <img src="{{MEDIA_URL}}{{ photo.path }}" class="img-polaroid" style="max-width:550px""/>
       </center>
     </a>
   </div>
   <div class="7photobottom row">
     <br />
     <p class="muted">
       <small class="common">上传于
       {{photo.upload_date|date:'Y-m-d'}} 
       {% if not OTHER %}
         <a  data-toggle="modal" href="#deleteModal">删除照片</a>
       {% endif %}
       </small>
     </p>
   </div>
   
   <div class="row">
     {% load comments %}
     {% render_comment_list for photo %}
     {% if not album.comment %}
     <small class="muted">该相册不允许评论</small>
     {% else %}
     {% if user.is_authenticated %}
     {% render_comment_form for photo %}
   {% endif %}
   {% endif %}
   </div>

 </div>

 <div class="span4 pull-right">
   {% if OTHER %}
   <div id="person" class="span4 pull-right common">
     <h5>作者</h5>
     <img src="{% gravatar_url people.email 24 %}">
     <a href="{% url 7people people.username %}">
       {% firstof people.first_name people.username %}
     </a>
     {% if user.is_authenticated %}
       {% if neighbour and neighbour_off %}
      <small class="common"> 
         <a href="{% url 7eyeon people.username %}">加关注</a>
         </small>
       {% endif %}
     {% endif %}
   </div>
   {% endif %}
   <div id="album" class="span4 pull-right">
     <h5>相册</h5>
      <img src="{{MEDIA_URL}}{{album.cover}}" width="64" height="64" class="img-polaroid"/>
       <br />
     <small class="common">  
       <a href="{% url 7single_album album.id %}"> {{album.name}}</a>
       <br />
       {{album.photo_num}}张照片
       <br />
       {{album.update_date|date:"Y-m-d"}}更新
     </small>
     
   </div>
 </div>

{% endblock content %}
