{% extends 'basic.html' %}

{% block content %}
{% load upload_tags %}
<div class="row">
<div class="span9">
  <div class="7tips row ">
    <div class="7nav">
      <div class="span2"><a href="
                    {% if id == 0 %}
                      {% url 7albums user.username %}
                    {% else %}
                      {% url 7single_album id%}
                    {% endif %}">
      -返回相册</a></div>
      <div class="pull-right"><a href="{% url 7create_album %}" >+创建新相册</a></div>
    </div>
  </div>

  <label>
  上传照片到:
  <select name="selected_album" class="span2 selected_data">
    {% for gallery in gallerys %}
      <option value="{{ gallery.id }}"
              {% if gallery.id == id %}selected="selected"{% endif %}>
      {{ gallery.name}} </option>
    {% endfor %}
  </select></label>

  <p><small>仅支持小于2.5M的照片</small></p>

  <input type="file" name="uploaded_form" id="file_upload" />
 
  <div class="7uploaded_info span9">
    <form class="7uploaded_success form-horizontal  pull-left"
          action="../edit/" method="POST">
      {%csrf_token%}
      
      {# when a photo is upload success,dynamic add a element in thisform#}
    </form>
  </div>
<script src="{{ STATIC_URL }}uploadify/jquery.uploadify-3.1.min.js"></script>
<script type="text/javascript">
$(function() {
   $('#file_upload').uploadify({
        'swf'      : '/static/uploadify/uploadify.swf',
        'uploader' : '',
        // Put your options here
        'fileTypeExts':'*.jpg;*.bmp;*.png',
        'formData':{'csrftoken':$.cookie('csrftoken'),'upload_sessionid':$.cookie('upload_sessionid'),'selected_album':$('.selected_data').val()},
        'multi':true,
        'auto':true,
        'removeTimeout':1,
        'buttonText':'添加照片',
        'height':21,
        'width':81,
        'onUploadSuccess':function(file,data,response){
            $('button:submit').remove();
            data = eval( '(' + data + ')' );

            html = '<div class="control-group row">\
            <label class="control-label">\
            <div class="pull-left"><img src="/media/'
                      + data.thumb64 
                      + '"  >' 
            + '<br />设为封面<input type="radio" name="cover" value="'
            + data.index 
            +'"></div></label>\
            <div class="controls">\
              <small>添加描述<small><br /><textarea name='
             + data.index 
             + ' cols=7 rows=2></textarea></div>\
            </div>';
            $(html).appendTo('.7uploaded_success');
        },
        'onQueueComplete':function(){
        if ($('button:submit').length <= 0 ){
            $('<input type="hidden" name="album_id" value="'+$('.selected_data').val()+'" />').appendTo('.7uploaded_success');
            $('<button type="submit" class="btn btn-success btn-small"> 保存更改</button>').appendTo('.7uploaded_success');
        }}
    });
}); 
</script>
</div>

{% endblock content%}
