;; -*- mode: emacs-lisp; coding: emacs-mule; -*-
;; --------------------------------------------------------------------------
;; Desktop File for Emacs
;; --------------------------------------------------------------------------
;; Created Fri Aug 17 23:36:06 2012
;; Desktop file format version 206
;; Emacs version 24.1.1

;; Global section:
(setq desktop-missing-file-warning nil)
(setq tags-file-name nil)
(setq tags-table-list nil)
(setq search-ring nil)
(setq regexp-search-ring nil)
(setq register-alist nil)
(setq file-name-history '("d:/Documents/django/mytemplates/pk7lover" "d:/Documents/django/pk7lover/main" "d:/Documents/django/pk7lover/main/" "d:/Documents/django/mytemplates/pk7lover/" "d:/Documents/django/pk7lover/main/" "d:/Documents/" "d:/Documents/write/django_static" "d:/Documents/django/pk7lover/main/" "d:/Documents/django/mytemplates/pk7lover/" "d:/Documents/django/pk7lover/pk7lover/" "d:/Documents/django/pk7lover/main/" "d:/Documents/django/pk7lover/pk7lover/" "d:/Documents/django/pk7lover/main/" "d:/Documents/django/pk7lover/pk7lover/" "d:/Documents/django/pk7lover/gallery/views.py" "d:/Documents/django/pk7lover/gallery/urls.py" "d:/Documents/django/pk7lover/pk7lover/" "d:/Documents/django/pk7lover/main/" "d:/Documents/django/pk7lover/main/urls.py" "d:/Documents/django/pk7lover/pk7lover/" "d:/Documents/django/pk7lover/accounts/admin.py" "d:/Documents/django/pk7lover/pk7lover/" "d:/Documents/django/pk7lover/accounts/" "d:/Documents/django/pk7lover/pk7lover/" "d:/Documents/"))

;; Buffer section -- buffers listed in same order as in buffer list:
(desktop-create-buffer 206
  "d:/Documents/django/mytemplates/pk7lover/index.html"
  "index.html"
  'html-mode
  '(auto-fill-mode linum-mode yas/minor-mode)
  539
  '(531 nil)
  nil
  nil
  '((buffer-file-coding-system . utf-8-unix)))

(desktop-create-buffer 206
  "d:/Documents/django/pk7lover/main/views.py"
  "views.py<2>"
  'python-mode
  '(linum-mode yas/minor-mode auto-complete-mode)
  417
  '(417 nil)
  nil
  nil
  '((tab-width . 8) (indent-tabs-mode) (buffer-file-coding-system . undecided-dos)))

(desktop-create-buffer 206
  "d:/Documents/django/pk7lover/pk7lover/settings.py"
  "settings.py"
  'python-mode
  '(linum-mode yas/minor-mode auto-complete-mode)
  1581
  '(nil nil)
  nil
  nil
  '((tab-width . 8) (indent-tabs-mode) (buffer-file-coding-system . undecided-dos)))

(desktop-create-buffer 206
  nil
  "main"
  'dired-mode
  '(linum-mode yas/minor-mode)
  731
  '(nil nil)
  t
  '("d:/Documents/django/pk7lover/main/")
  nil)

(desktop-create-buffer 206
  "d:/Documents/django/pk7lover/gallery/views.py"
  "views.py"
  'python-mode
  '(linum-mode yas/minor-mode auto-complete-mode)
  145
  '(138 nil)
  nil
  nil
  '((tab-width . 8) (indent-tabs-mode) (buffer-file-coding-system . undecided-dos)))

(desktop-create-buffer 206
  nil
  "pk7lover<2>"
  'dired-mode
  '(linum-mode yas/minor-mode)
  314
  '(nil nil)
  t
  '("d:/Documents/django/pk7lover/pk7lover/")
  nil)

(desktop-create-buffer 206
  nil
  "pk7lover"
  'dired-mode
  '(linum-mode yas/minor-mode)
  474
  '(nil nil)
  t
  '("d:/Documents/django/pk7lover/")
  nil)

(desktop-create-buffer 206
  nil
  "django"
  'dired-mode
  '(linum-mode yas/minor-mode)
  340
  '(nil nil)
  t
  '("d:/Documents/django/")
  nil)

(desktop-create-buffer 206
  nil
  "mytemplates"
  'dired-mode
  '(linum-mode yas/minor-mode)
  187
  '(nil nil)
  t
  '("d:/Documents/django/mytemplates/")
  nil)

(desktop-create-buffer 206
  nil
  "pk7lover<3>"
  'dired-mode
  '(linum-mode yas/minor-mode)
  201
  '(nil nil)
  t
  '("d:/Documents/django/mytemplates/pk7lover/")
  nil)

(desktop-create-buffer 206
  "d:/Documents/write/django_static"
  "django_static"
  'text-mode
  '(auto-fill-mode linum-mode yas/minor-mode)
  606
  '(167 nil)
  nil
  nil
  '((buffer-file-coding-system . chinese-gbk-dos)))

(desktop-create-buffer 206
  nil
  "write"
  'dired-mode
  '(linum-mode yas/minor-mode)
  176
  '(nil nil)
  t
  '("d:/Documents/write/")
  nil)

(desktop-create-buffer 206
  nil
  "Documents"
  'dired-mode
  '(linum-mode yas/minor-mode)
  1026
  '(nil nil)
  t
  '("d:/Documents/")
  nil)

(desktop-create-buffer 206
  nil
  "accounts"
  'dired-mode
  '(linum-mode yas/minor-mode)
  193
  '(nil nil)
  t
  '("d:/Documents/django/pk7lover/accounts/")
  nil)

(desktop-create-buffer 206
  "d:/Documents/django/pk7lover/accounts/models.py"
  "models.py"
  'python-mode
  '(linum-mode yas/minor-mode auto-complete-mode)
  301
  '(301 nil)
  nil
  nil
  '((tab-width . 8) (indent-tabs-mode) (buffer-file-coding-system . undecided-dos)))

(desktop-create-buffer 206
  nil
  "gallery"
  'dired-mode
  '(linum-mode yas/minor-mode)
  192
  '(nil nil)
  t
  '("d:/Documents/django/pk7lover/gallery/")
  nil)

(desktop-create-buffer 206
  nil
  "templates"
  'dired-mode
  '(linum-mode yas/minor-mode)
  195
  '(nil nil)
  t
  '("d:/Documents/django/pk7lover/main/templates/")
  nil)

(desktop-create-buffer 206
  "d:/Documents/django/pk7lover/pk7lover/urls.py"
  "urls.py"
  'python-mode
  '(linum-mode yas/minor-mode auto-complete-mode)
  612
  '(550 nil)
  nil
  nil
  '((tab-width . 8) (indent-tabs-mode) (buffer-file-coding-system . undecided-dos)))

(desktop-create-buffer 206
  "d:/Documents/django/pk7lover/gallery/urls.py"
  "urls.py<3>"
  'python-mode
  '(linum-mode yas/minor-mode auto-complete-mode)
  180
  '(182 nil)
  nil
  nil
  '((tab-width . 8) (indent-tabs-mode) (buffer-file-coding-system . chinese-gbk-dos)))

(desktop-create-buffer 206
  "d:/Documents/django/pk7lover/accounts/admin.py"
  "admin.py"
  'python-mode
  '(linum-mode yas/minor-mode auto-complete-mode)
  92
  '(nil nil)
  nil
  nil
  '((tab-width . 8) (indent-tabs-mode) (buffer-file-coding-system . chinese-gbk-dos)))

